NOTARIZE = 'true'
APPLE_ID = 'example@example.com'
APPLE_APP_SPECIFIC_PASSWORD = 'aaaa-aaaa-aaaa-aaaa'
APPLE_TEAM_ID = ABCDEFGHIJ
APPLE_ISSUER_ID = '751afdea-d4fc-49aa-8b7e-3c6e2f9a9598'
APPLE_PATH_TO_P8 = '/Users/path/to/AuthKey_ABC1234567.p8'
APPLE_KEY_ID = 'ABC1234567'
